<script src="javascript/script.js" ></script>
<hr >
<footer><p id="Time"> </p>
    <p> Copyright © All rights reserved <%=new Date().getFullYear()%></p></footer>
    <p style="text-align: left; color: rgb(174, 88, 255);" dir="ltr">Designed and Powered by: <a target="_blank" href="https://wa.me/966565915014"><i style="color: green;" class="bi bi-whatsapp"></i></a> <a style="text-decoration: none; " target="_blank" href="https://www.instagram.com/g20s_?igsh=MWRyZWd0Njk0MWFkbg%3D%3D&utm_source=qr"><i style="color: rgb(244, 96, 222); font-size: 1rem;" class="bi bi-instagram"></i></a></p>

</body>

</html>