<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <nav class="navbar">
        <ul type="none">
            <li id="logout" style="color: brown; text-decoration: underline;"><a href="/Logout"><i
                        class="bi bi-box-arrow-left"></i></a></li>
            <li><a href="/Settings"> <i class="bi bi-gear"></i></a></li>
            <li id="home"><a href="/Home"><i class="bi bi-house"></i>Home</a></li>
            <li id="projects"><a href="/MyProjects"><i class="bi bi-body-text"></i>My Projects</a></li>
            <li id="aboutme"><a href="/AboutMe"><i class="bi bi-person-lines-fill"></i>About Me</a></li>
            <li id="aboutme"><a href="/MyAI"><i class="bi bi-robot"></i>AI</a></li>
        </ul>
    </nav>
    <header>
        <div class="sticky-container">
            <h1 class="Place" style="text-align: center; color: gold;">Your Heading</h1>
        </div>
        
        <hr>
    </header>