<%- include("partials/header.ejs") %>
    <div align="center">
        <div class="Main">
<p style="text-align: left;">Hey, I'm Saleh—a computer science student at Qassim University with a passion for building intelligent, useful, and creative software. I enjoy solving real-world problems with clean code, and I'm currently diving deep into areas like web development, <b>C++</b> - <em>My favorite language</em> :) - , and <b>game engine</b> design.

    I’ve worked on everything from energy-saving web apps to AI-driven city navigation systems, and I’m always eager to learn and explore new tools, especially if it involves tech, logic, or a challenge.
    
    Outside of coding, I love gaming (main Wraith in ApexLegends), and I’m on a mission to build my own 3D game engine—step by step.
    
    I'm looking for an internship or role where I can grow, build cool things, and make an impact.</p>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>