<%- include("partials/header.ejs") %>
    <div align="center">
        <div class="Main">
            <p>Welcome to my website!</p>
            <p sty>This is where I'll be showcasing my projects and other content.</p>
            <p>First of All, <em><a style=" color: rgb(255, 238, 143);" href="/AboutMe">Who Am I?</a></em></p>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>