<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<style>

</style>

<body class="logIn">
    <h1 style="
    font-family: incursive; 
    text-align: center; 
    color: #37ad00; 
    font-weight: bold; 
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);">
        <em>Welcome!</em>

    </h1>
    <div align="center">
        <div class="Box">
            <h1 class="hed" style="color:rgb(255, 255, 255);">Log In</h1>
            <form action="/Login" method="POST">
                <input type="email" id="Email" placeholder="Email" name="Email" required><br>
                <input type="password" id="password" placeholder="Password" name="password" required><br>
                <input type="submit" value="Submit">
            </form>
            <% if (locals.error) { %>
                <h5
                    style="padding: 10px; text-align: center; color: red; background-color: rgba(255, 0, 0, 0.223); width: fit-content; border: 2px solid red; border-radius: 10px;">
                    <%= locals.error %>
                </h5>
                <% } %>
                    <p style="color:rgb(255, 255, 255);">Don't have an account? <a href="/SignUp">Sign Up</a></p>

        </div>

    </div>
    <script src="JavaScript/script.js"></script>

</body>

</html>