<%- include("partials/header.ejs") %>
    <div align="center">
        <div class="Main">
            <h4 style="color: white;">
                <%= AIResponse %>
            </h4>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>